<div class="panel panel-warning">
    <div class="panel-heading">New Proceeding</div>
    <div class="panel-body">
        <form role="form" ng-submit="new()">
            <label>Name</label>
            <input ng-model="name" type="text" class="form-control" placeholder="name"></input>
            <label>Tag</label>
            <input ng-model="tag" type="text" class="form-control" placeholder="tag"></input>
            <br>
            <button type="submit" class="btn btn-warning pull-right"><span class="glyphicon glyphicon-plus"></span></button>
        </form>
    </div>
</div>